@import '../../../../sass/components/card';
@import '../../../../sass/components/tag';
@import '../../../../sass/components/button';

.profile {
  margin: ms(1) 0;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas: 'info picture';
  background-color: $light-grey;
  padding: ms(1);
  @include screen('tablet') {
    margin: ms(1) ms(1);
    justify-items: center;
  }
  @include screen('desktop') {
    margin: ms(2) ms(4);
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.5fr 0.1fr 0.8fr;
    grid-template-areas: 'info contact picture';
  }
  @include screen('hrq') {
    grid-template-columns: 0.2fr 0.1fr 0.8fr;
  }
  .profile-info {
    grid-area: info;
    .name,
    .city,
    .tagline {
      margin: ms(-5) 0;
    }
    .name {
      color: $text-primary;
      font-size: ms(2);
      font-weight: 500;
      @include screen('desktop') {
        margin-top: 0;
        margin-bottom: ms(-2);
        font-size: ms(2);
      }
    }
    .city {
      color: $primary-color;
      font-weight: 400;
      @include screen('desktop') {
        font-size: ms(1);
      }
    }
    .tagline {
      color: $dark-grey;
      @include screen('desktop') {
        margin-bottom: ms(0);
      }
    }
    @include screen('tablet') {
      justify-self: start;
    }
    @include screen('desktop') {
      justify-self: start;
      align-self: start;
    }
  }
  img {
    object-fit: cover;
    height: ms(5);
    width: ms(5);
    border-radius: 100%;
    grid-area: picture;
    @include screen('tablet') {
      justify-self: end;
    }
    @include screen('desktop') {
      justify-self: end;
      height: ms(6);
      width: ms(6);
    }
  }
  tag-filter {
    display: flex;
    flex-wrap: wrap;
  }
  .button {
    @extend %button;
    padding-top: ms(-2);
    padding-bottom: ms(-2);
    font-size: ms(1);
    font-weight: 600;
    height: max-content;
    width: max-content;
    position: fixed;
    z-index: 0;
    bottom: ms(2);
    left: ms(3);
    @include screen('tablet') {
      left: ms(6) + 0.8em;
    }
    @include screen('desktop') {
      padding: ms(0);
      font-size: ms(0);
      position: unset;
      bottom: unset;
      align-self: baseline;
      grid-area: contact;
    }
  }
}
