@import 'node_modules/modularscale-sass/stylesheets/modularscale';
@import 'https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap';

$modularscale: (
  base: 1em,
  ratio: 1.5,
  400px: (
    ratio: 1.2,
  ),
  900px: (
    base: 16px,
    ratio: 1.3,
  ),
  1200px: (
    base: 16px,
    ratio: 1.6,
  ),
);

// Text xx-small size
.text-xxs {
  font-size: ms(-3);
}

// Text x-small size
.text-xs {
  font-size: ms(-2);
}

// Text small size
.text-sm {
  font-size: ms(-1);
}

// Text normal size
.text-nrm {
  font-size: ms(0);
}

// Text medium size
.text-md {
  font-size: ms(1);
}

// Text large size
.text-lg {
  font-size: ms(2);
}

// Text x-large size
.text-xl {
  font-size: ms(3);
}

// Text xx-large size
.text-xxl {
  font-size: ms(4);
}

// Text xxx-large size
.text-xxxl {
  font-size: ms(5);
}
