// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.										 |
// -----------------------------------------------------------------------------

// Font text
$text-font-stack: 'DM Sans', sans-serif;

// Main Color

// Secondary color
$white: #fff;
$black: #000;

$grey: #bdbdbd;
$light-grey: #e0e0e0;
$lighter-grey: #fafafa;
$dark-grey: #616161;
