// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.										 |
// -----------------------------------------------------------------------------

// Font text
$text-font-stack: 'DM Sans', sans-serif;

// Main Color
$primary-color: #901c1c;
$secondary-color: #db8876;
$text-primary: #d3573c;

// Secondary color
$white: #fff;
$black: #000;

$grey: #bdbdbd;
$light-grey: #fafafa;
$dark-grey: #525252;
