@import '../../../../sass/helpers/index';
@import '../../../../sass/base/index';

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa70;
  a,
  .title {
    color: $primary-color;
  }
  .title {
    width: 18em;
    font-weight: 500;
    margin-top: ms(-3);
    @include screen('tablet') {
      width: ms(7);
      font-size: ms(2);
    }
    @include screen('desktop') {
      width: ms(8);
      font-size: ms(2);
    }
    @include screen('hrq') {
      width: ms(8);
      font-size: ms(3);
    }
  }
  .lightbox-media {
    display: grid;
    grid-template-areas:
      '. picture close'
      'left-arrow picture right-arrow'
      '. picture .';
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    justify-content: center;
    media-viewer {
      grid-area: picture;
      margin: 0 ms(-2);
    }

    a {
      text-decoration: none;
      font-weight: 600;
      font-size: ms(2);
      @include screen('tablet') {
        font-size: ms(3);
      }
      @include screen('desktop') {
        font-size: ms(4);
      }
    }
    #close {
      grid-area: close;
      justify-self: end;
    }
    #next {
      grid-area: right-arrow;
      align-self: center;
      justify-self: end;
    }
    #previous {
      grid-area: left-arrow;
      align-self: center;
      justify-self: start;
    }
  }
}
