@import '../../../../../sass/components/card';
@import '../../../../../sass/components/tag';

.card {
  @extend %card;
  .card-header {
    @extend %card-header;
    a {
      text-decoration: none;
    }
    .card-image {
      @extend %card-image;
    }
    .rounded {
      @extend %rounded;
    }
  }
  .card-content {
    @extend %card-content;
    .city {
      font-size: ms(1);
      color: $primary-color;
    }
    .tagline,
    .price {
      font-size: ms(0);
    }
    .price {
      color: $dark-grey;
    }
  }
  .card-footer {
    @extend %card-footer;
  }
}

.tag {
  @extend %tag;
}
