@import '../helpers/index';
@import '../base/index';

%card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: max-content;
  text-align: center;
}

%card-header {
  .title {
    color: $text-primary;
    font-weight: 500;
    margin: ms(-2) 0;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

%card-image {
  width: ms(6);
  height: ms(6);
  object-fit: cover;
  @include screen('desktop') {
    width: ms(6);
    height: ms(6);
  }
  @include screen('hrq') {
    width: ms(8);
    height: ms(8);
  }
}

%rounded {
  border-radius: 100%;
}

%card-content {
  & p {
    margin: ms(-2) 0;
  }
}

%card-footer {
  padding: ms(0) 0;
}
