.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  @include screen('tablet') {
    grid-template-columns: repeat(2, 1fr);
    gap: ms(4) ms(4);
  }
  @include screen('desktop') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: max-content;
  text-align: center;
}

.card-header {
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .title {
    color: $text-primary;
    font-weight: 500;
    margin: ms(-2) 0;
  }
}

.card-image {
  width: ms(6);
  height: ms(6);
  object-fit: cover;
  @include screen('desktop') {
    width: ms(6);
    height: ms(6);
  }
  @include screen('hrq') {
    width: ms(8);
    height: ms(8);
  }
}

.rounded {
  border-radius: 100%;
}

.card-content {
  & p {
    margin: ms(-2) 0;
  }
  .city {
    font-size: ms(1);
    color: $primary-color;
  }
  .tagline,
  .price {
    font-size: ms(0);
  }
  .price {
    color: $dark-grey;
  }
}

.card-footer {
  padding: ms(0) 0;
}
