.filter {
  display: flex;
  margin: ms(0) 6em;
  span {
    align-self: center;
    font-weight: 600;
  }
  .select {
    margin: 0 ms(0);
  }
  @include screen('mobile') {
    display: none;
  }
  @include screen('tablet') {
    margin: ms(1);
  }
  @include screen('desktop') {
    margin: ms(2) ms(4);
  }
}
