@import './card';

.media {
  @extend .card;
}
.media-header {
  @extend .card-header;
  img,
  video {
    object-fit: cover;
    border-radius: ms(-4);
    width: 21.6em;
    height: 15em;
    cursor: pointer;
    @include screen('desktop') {
      width: ms(6) + 2em;
      height: ms(6);
      font-size: ms(1);
    }
    @include screen('hrq') {
      width: ms(8);
      height: ms(8);
    }
  }
}

.media-content {
  @extend .card-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    font-weight: 500;
    color: $primary-color;
  }
}

.like {
  font-weight: 600;
  color: $primary-color;
  display: flex;
  align-items: center;
  height: ms(0);
  span {
    cursor: pointer;
  }
  .like-icon {
    color: $secondary-color;
    &:hover,
    &.liked {
      color: $primary-color;
    }
  }
}
