@import '../helpers/index';
@import '../base/index';

%tag {
  border: 1px #c4c4c4 solid;
  border-radius: 50px;
  padding: ms(-4) ms(-3);
  text-decoration: none;
  color: $primary-color;
  margin: ms(-4);
  @include on-event() {
    @extend %active;
  }
  @include screen('desktop') {
    padding: ms(-2) ms(0);
    margin: 0 ms(-4);
    font-size: ms(-1);
  }
  @include screen('hrq') {
    font-size: ms(0);
  }
}

%active {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
}
