@import '../../../sass/helpers/index';
@import '../../../sass/base/index';

filter-component {
  align-self: center;
  order: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: ms(0) 0;
  @include screen('desktop') {
    order: unset;
  }
}

photographer-component {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: ms(4) 0px;
  @include screen('tablet') {
    grid-template-columns: repeat(2, 1fr);
    gap: ms(4) ms(4);
  }
  @include screen('desktop') {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
}
